
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(41, 39, 39);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}


.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.product {
    display: flex;
    align-items: center;
    width: 80%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.03);
}

.product img {
    width: 350px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.product-content {
    flex: 1;
}

.product h2 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
}

.product p, .product ul {
    font-size: 1.2em;
    line-height: 1.6;
}

.product ul {
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .product {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .product img {
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-bottom: 15px;
    }
}
